flows.json
[
    {
        "id": "5fc82127739a9c94",
        "type": "tab",
        "label": "blinky-alarm-service",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6ad7c930.1a06b8",
        "type": "ui_base",
        "theme": {
            "name": "theme-dark",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#097479",
                    "value": "#097479",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#111111",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#000000",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#0eb8c0",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#555555",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#333333",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#eeeeee",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#097479",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#333333",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey"
            }
        },
        "site": {
            "name": "Chill Detector",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "84d80994.260508",
        "type": "mqtt-broker",
        "name": "MQTT Broker",
        "broker": "$(MQTTSERVERIP)",
        "port": "$(MQTTPORT)",
        "clientid": "$(MQTTCLIENTID)",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "bc4af7f9b27ad1ad",
        "type": "inject",
        "z": "5fc82127739a9c94",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "Init",
        "payload": "",
        "payloadType": "date",
        "x": 110,
        "y": 80,
        "wires": [
            [
                "378596af056f1b50"
            ]
        ]
    },
    {
        "id": "378596af056f1b50",
        "type": "function",
        "z": "5fc82127739a9c94",
        "name": "Hub Alarm  topic",
        "func": "let subscribeTopic = env.get(\"BOX\") + '/' + env.get(\"HUB\") + \"/alarm/#\";  //Custom\nreturn {action:\"subscribe\",topic:subscribeTopic};\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 280,
        "y": 80,
        "wires": [
            [
                "424dc5e8011842cf"
            ]
        ]
    },
    {
        "id": "424dc5e8011842cf",
        "type": "mqtt in",
        "z": "5fc82127739a9c94",
        "name": "Subscribe to Alarms",
        "topic": "",
        "qos": "0",
        "datatype": "auto",
        "broker": "84d80994.260508",
        "nl": false,
        "rap": false,
        "inputs": 1,
        "x": 510,
        "y": 80,
        "wires": [
            [
                "027b45e00f5d24b2"
            ]
        ]
    },
    {
        "id": "027b45e00f5d24b2",
        "type": "json",
        "z": "5fc82127739a9c94",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 690,
        "y": 80,
        "wires": [
            [
                "7303a0d0a1aa3b0b"
            ]
        ]
    },
    {
        "id": "6e6da391e4ef61d0",
        "type": "debug",
        "z": "5fc82127739a9c94",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1460,
        "y": 220,
        "wires": []
    },
    {
        "id": "82c50073c6c82ff2",
        "type": "http request",
        "z": "5fc82127739a9c94",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "basic",
        "senderr": false,
        "headers": [],
        "x": 1290,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "7303a0d0a1aa3b0b",
        "type": "function",
        "z": "5fc82127739a9c94",
        "name": "Send to all topic",
        "func": "let msgs = [];\nlet topicSplit = msg.payload.topic.split(\"/\");\nlet url = \"http://\" + env.get(\"NTFYIP\") + \"/all\"\nlet rateLimit = 200;\nmsgs.push({topic:\"all\",url:url, payload:msg.payload.content,rate:rateLimit});\nurl = \"http://\" + env.get(\"NTFYIP\") + \"/\" + topicSplit[0];\nmsgs.push({topic:\"traytype\",url:url, payload:msg.payload.content,rate:rateLimit});\nurl = \"http://\" + env.get(\"NTFYIP\") + \"/\" + topicSplit[0] + \"-\" + topicSplit[1];\nmsgs.push({topic:\"traytype\",url:url, payload:msg.payload.content,rate:rateLimit});\nurl = \"http://\" + env.get(\"NTFYIP\") + \"/\" + topicSplit[0] + \"-\" + topicSplit[1] + \"-\" + topicSplit[2];\nmsgs.push({topic:\"traytype\",url:url, payload:msg.payload.content,rate:rateLimit});\nreturn {topic:\"ntfy\",payload:msgs};",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 220,
        "wires": [
            [
                "359453b09345d1e0"
            ]
        ]
    },
    {
        "id": "359453b09345d1e0",
        "type": "split",
        "z": "5fc82127739a9c94",
        "name": "",
        "splt": "\\n",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 850,
        "y": 220,
        "wires": [
            [
                "b5a389edf4606447"
            ]
        ]
    },
    {
        "id": "b5a389edf4606447",
        "type": "function",
        "z": "5fc82127739a9c94",
        "name": "promote",
        "func": "return msg.payload;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 980,
        "y": 220,
        "wires": [
            [
                "58e7330582ef318a"
            ]
        ]
    },
    {
        "id": "58e7330582ef318a",
        "type": "delay",
        "z": "5fc82127739a9c94",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": true,
        "outputs": 1,
        "x": 1130,
        "y": 220,
        "wires": [
            [
                "82c50073c6c82ff2"
            ]
        ]
    }
]